<form action="/api/auth/login" method="post">
    <input type="text" name="username" id="username" placeholder="Användarnamn">
    <input type="text" name="password" id="password" placeholder="Lösenord">
    <input type="submit" value="Logga in!">
</form>