<!DOCTYPE html>
<html>
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/explore.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css">
    <title>PictureIt - Explore</title>
    <script src="/assets/scripts/explore.js" type="module" defer></script>
</head>

<body id="app" view="explore">
    {% include "../../components/sidebar.njk" %}
    <main class="app">
        <form class="searchbar" method="get" action="/app/explore/search">
            <span class="icon" icon="explore"></span>
            <input type="text" name="q" id="search-query" placeholder="Sök..." autocomplete="off" value="{{ query }}">
            <input type="submit" class="search-btn" value="Sök">
        </form>

        <div class="specials">
            <a href="/app/explore/new" class="special {{ "active" if special == "Nya" }}"><span class="icon" icon="explore"></span>Nya</a>
            <a href="/app/explore/liked" class="special {{ "active" if special == "Mest Gillade" }}"><span class="icon" icon="like"></span>Mest Gillade</a>
            <a href="/app/explore/random" class="special {{ "active" if special == "Random" }}"><span class="icon" icon="feed"></span>Random</a>
        </div>

        {% if users[0] %}
            <div class="users">
                <h1 class="users-title">Användare</h1>
                {% for user in users %}
                    <div class="user" id="{{ user.name }}">
                        <div class="user-pfp" id="{{ user.name }}"></div>
                        <p class="username">{{ user.name }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if posts[0] %}
            {% import "../../components/post.njk" as postMacro with context %}
            <h1>{{ special }} Inlägg</h1>
            <div class="posts-container">
                {% for post in posts %}
                    {{ postMacro.post(post._id, post.publisher, post.caption, post.canDelete, post.isLiked, post.likesAmount, post.date) }}
                {% endfor %}
            </div>
        {% endif %}
    </main>
    {% include "../../components/quickies.njk" %}
    {% include "../../components/upload.njk" %}
</body>
</html>