<!DOCTYPE html>
<html>
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/forms.css">
    <title>PictureIt - Feed</title>
</head>

<body id="app" view="home">
    {% include "../../components/sidebar.njk" %}
    <main class="app">
        {% import "../../components/post.njk" as postMacro with context %}
        <div class="posts-container">
            {% for post in posts %}
                {{ postMacro.post(post._id, post.publisher, post.caption, post.canDelete, post.isLiked, post.likesAmount, post.date) }}
            {% endfor %}
        </div>

        {% if not posts[0] %}
            <p style="margin-top: 40vh;">Du följer ingen som har gjort något inlägg.</p>
            <p>
                <a href="/app/explore">Utforska inlägg och användare!</a>
            </p>
        {% endif %}
    </main>
    {% include "../../components/quickies.njk" %}
    {% include "../../components/upload.njk" %}
</body>
</html>