<!DOCTYPE html>
<html>
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/docs.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/forms.css">
    <title>PictureIt - Explore</title>
    <script src="/assets/scripts/explore.js" type="module" defer></script>
</head>

<body id="app" view="news">
    {% include "../../components/sidebar.njk" %}
    <main class="app">
        <section>
            <h1>Changelog Uppdatering 1.2</h1>
            <p>
                Lite små förändringar.
                <ul>
                    <li>Optimeringar för mobiler.</li>
                    <li>Optimeringar för Firefox-baserade webbläsare.</li>
                    <li>Du kan nu klicka på bilder för att få dem större.</li>
                </ul>
            </p>
            <a href="/docs/article/changelog">Klicka här för att se alla changelogs.</a> <br>
            <i>30 maj 2021</i>
        </section>
    </main>
    {% include "../../components/quickies.njk" %}
    {% include "../../components/upload.njk" %}
</body>
</html>