<!DOCTYPE html>
<html>
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/docs.css">
    <title>PictureIt - Explore</title>
    <script src="/assets/scripts/explore.js" type="module" defer></script>
</head>

<body id="app" view="news">
    {% include "../../components/sidebar.njk" %}
    <main class="app">
        <section>
            <h1>Changelog Uppdatering 1.1</h1>
            <p>
                För det mesta finns det bara lite pytte-förändringar här och var.
                <ul>
                    <li>Fixat en bugg som gjorde så att alla dina posts på ditt feed inte visades.</li>
                    <li>Lagt till en sida där du kan se förändringar/nyheter.</li>
                    <li>
                        Du kan nu visa olika inlägg på "Utforska" utefter:
                        <ul>
                            <li>Random - Visar 50 slumpmässiga inlägg. (Wowie!)</li>
                            <li>Senaste - Visar de 50 senaste inläggen.</li>
                            <li>Gillade - Visar de 50 mest gillade inläggen.</li>
                        </ul>
                        (Såklart måste det finnas minst 50 inlägg för att man faktiskt ska nå den mängden.)
                    </li>
                </ul>
            </p>
            <a href="/docs/article/changelog">Klicka här för att se alla changelogs.</a> <br>
            <i>24 maj 2021</i>
        </section>
    </main>
    {% include "../../components/quickies.njk" %}
    {% include "../../components/upload.njk" %}
</body>
</html>