<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css">
    <title>Post av {{ publisher }}</title>
</head>
<body class="view-single-post">
    {% import "../../components/post.njk" as postMacro with context %}
    {{ postMacro.post(postID, publisher, caption, isLiked, likesAmount, publishDate) }}
</body>
</html>