<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css">
    <title>Min data</title>
</head>
<body class="stand-alone-post">
    <div class="post">
        <h1 class="publisher">{{ publisher }}</h1>
        <img src="{{ image }}">
        <p class="caption">{{ caption }}</p>
    </div>
</body>
</html>


