<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css">
    <title>Post av {{ publisher }}</title>
</head>
<body class="view-single-post">
    {% include "../../components/post.njk" %}
</body>
</html>