<!DOCTYPE html>
<html lang="se">
<head>
  {% include "../../templates/defaultHeadTags.njk" %}
  <script src="/assets/scripts/upload.js" type="module" defer></script>
  <link rel="stylesheet" src="/assets/css/upload.css">
</head>
<body>
<h1>
    Dette är en experimentell plats!
</h1>

<h2>
    Ladda upp post
</h2>
<form action="/api/posts/new" method="post" enctype="multipart/form-data">
    <input type="file" name="image" id="image">

    <textarea name="caption" id="caption"></textarea>

    <input type="submit" value="Yes">
</form>

<button class="upload-popup-btn">Upload popup</button>

<h2>
    Ladda upp profilbild
</h2>
<form action="/api/users/profilePicture/new" method="post" enctype="multipart/form-data">
    <input type="file" name="image" id="image">

    <input type="submit" value="Yes">
</form>

<div class="popup-container">
  <div class="popup popup-upload">
    <h1 class="popup-title">Ladda upp post</h1>
    <div class="popup-body">
        <p></p>
    </div>
    <div class="popup-actions">¨
      <form action="/api/posts/new" method="post" enctype="multipart/form-data">
          <input class="input-upload-image" type="file" name="image" id="image">
          <image class="upload-preview-image" width=450 height=400/>
          <textarea name="caption" id="caption"></textarea>
          <input type="submit" value="Upload">
      </form>
      <button class="upload-cancel-btn">Avbryt</button>
    </div>
  </div>
</div>

</body>
</html>
