<form action="/api/posts/new" method="post" enctype="multipart/form-data">
    <input type="file" name="image" id="image">

    <textarea name="caption" id="caption"></textarea>

    <input type="submit" value="Yes">
</form>