<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/explore.css">
    <script src="/assets/scripts/explore.js" type="module" defer></script>
    <title>Gillade inlägg - PictureIt</title>
</head>
<body id="app">
    <main class="app">
        <div class="users">
            <h1 class="users-title">{{ username }} {{ "- följare" if followers else "följer" }}</h1>
            {% for user in users %}
                <div class="user" id="{{ user.name }}">
                    <div class="user-pfp" id="{{ user.name }}"></div>
                    <p class="username">{{ user.name }}</p>
                </div>
            {% endfor %}

            {% if not users[0] %}
                <p>{{ username }} {{ "är inte följd av någon." if followers else "följer ingen." }}</p>
            {% endif %}
        </div>
    </main>
</body>
</html>