<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/profile.css">
    <title>{{ user.name }} - PictureIt</title>
</head>
<body>
    {# {% include "../../components/sidebar.njk" %} #}
    <main>
        <div class="user-info">
            <div class="user-pfp" id="{{ user.name }}"></div>
            <h1 class="username">{{ user.name }}</h1>
            <div class="user-stats">
                <div class="user-stat user-stat-followers">
                    <span class="icon" icon="profile"></span>
                    <p>{{ user.followers.length }} följare</p>
                </div>

                <div class="user-stat user-stat-following">
                    <span class="icon" icon="profile"></span>
                    <p>{{ user.following.length }} följer</p>
                </div>

                <div class="user-stat user-stat-likes">
                    <span class="icon" icon="like"></span>
                    <p>{{ user.likes }} gillningar</p>
                </div>
            </div>
            <div class="user-actions">
                {% if myProfile %}
                    <button class="action-mydata">Profilinställningar</button>
                {% else %}
                    <button class="action-follow" id="{{ user._id }}">Följ</button>
                {% endif %}

                {% if teacherView and unverified %}
                    <button class="action-validate" id="{{ user._id }}">Bekräfta</button>
                {% endif %}
            </div>
        </div>

        {% import "../../components/post.njk" as postMacro with context %}
        <div class="posts-container">
            {% for post in posts %}
                {{ postMacro.post(post._id, post.publisher, post.caption, post.isLiked, post.likesAmount, post.date) }}
            {% endfor %}
        </div>
    </main>

    <script src="/assets/scripts/profile.js" type="module"></script>
</body>
</html>