<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        img {
            max-width: 90vw;
            max-height: 90vh;
            margin: 0;
            padding: 0;
        }
    </style>
    <title>Rå bild</title>
</head>
<body>
    <img src="{{ imageDataUrl }}">
</body>
</html>


