<div class="quickies">
    <button class="quickie-button" id="liked-posts">
        <span class="icon" icon="liked_posts"></span>
        <span class="tooltip">Se inlägg du gillat.</span>
    </button>

    <button class="quickie-button" id="add-post">
        <span class="icon" icon="add_post"></span>
        <span class="tooltip">Ladda upp ett inlägg!</span>
    </button>

    <button class="quickie-button" id="logo">
        <img src="/assets/resources/logo.svg">
        <span class="tooltip">Hmm?</span>
    </button>
</div>