<nav class="sidebar">
    <a href="/app/home">
        <span class="icon" icon="home"></span>
        <p class="sidebar-entry">Hem</p>    
    </a>
          
 <a href="/app/explore">
        <span class="icon" icon="explore"></span>
        <p class="sidebar-entry">Utforska</p>    
    </a>
 <a href="/app/profile">
        <span class="icon" icon="profile"></span>
        <p class="sidebar-entry">Profil</p>    
    </a>
</nav>
