<nav class="sidabar">
    <div>
        <span class="icon" icon="home"></span>
        <a href="/app/home"> Home </a>
    </div>

    <div>
        <span class="icon" icon="explore"></span>
        <a href="/app/explore"> Explore </a>
    </div>

    <div>
        <span class="icon" icon="profile"></span>   
        <a href="/app/profile"> Profil </a>
    </div>
</nav>
