<nav class="sidebar">
    <a href="/app/home" class="sidebar-entry sidebar-entry-home">
        <span class="icon" icon="home"></span>
        <p>Hem</p>
    </a>

    <a href="/app/explore" class="sidebar-entry sidebar-entry-explore">
        <span class="icon" icon="explore"></span>
        <p>Utforska</p>
    </a>

    <a href="/app/profile" class="sidebar-entry sidebar-entry-profile">
        <span class="icon" icon="profile"></span>
        <p>Profil</p>
    </a>

    <a href="/app/news" class="sidebar-entry sidebar-entry-news">
        <span class="icon" icon="feed"></span>
        <p>Nyheter</p>
    </a>
</nav>
