<!DOCTYPE html>
<html lang="se">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" href="/assets/css/docs.css">
    <title>Inloggning - PictureIt</title>
</head>
<body>
    <header>
        Inloggning
    </header>
    <section>
        <h1>Vad gör jag om jag har glömt mitt lösenord?</h1>
        <p>
            Om du har glömt ditt lösenord så får du kontakta en lärare eller admin så kommer de att hjälpa dig att återställa ditt lösenord. :)
        </p>

        <h1>Vad gör jag om jag har glömt mitt användarnamn?</h1>
        <p>
            Ojsan! Då kan det bli jobbigt. Kolla med dina vänner om de minns ditt användarnamn.
        </p>
    </section>
</body>
</html>