<!DOCTYPE html>
<html lang="se">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" href="/assets/css/docs.css">
    <title>Ojsan - PictureIt</title>
</head>
<body>
    <header>
        Ojsan! Artikeln du letar efter hittades inte.
    </header>
</body>
</html>