<!DOCTYPE html>
<html lang="se">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" href="/assets/css/docs.css">
    <title>Changelog PictureIt</title>
</head>
<body>
    <header>
        Changelogs
    </header>
    <section>
        <h1>
            PictureIt - Version 1.0 (24 maj 2021)
        </h1>
        <h2>
            Stora förändringar
        </h2>
        <p>
            Första releasen av PictureIt. Kärnfunktioner så som:
            <ul>
                <li>Logga in + registrera konto</li>
                <li>Lärare kan bekräfta elevers konton</li>
                <li>
                    Inlägg:
                    <ul>
                        <li>Ladda upp</li>
                        <li>Ta bort sitt inlägg (lärare kan ta bort andras)</li>
                        <li>Gilla</li>
                        <li>Se inlägg du har gillat</li>
                    </ul>
                </li>
                <li>Följa/bli följd</li>
                <li>Ladda ned all data som finns om dig</li>
                <li>Ta bort ditt konto</li>
                <li>Fler små saker :)</li>
            </ul>
        </p>

        <h2>
            Spekulerade funktioner
        </h2>
        <p>
            Det finns vissa planerade funktioner som <b>skulle kunna</b> bli implementerade, men inget kan lovas:
            <ul>
                <li>Kommentarer</li>
                <li>
                    Album:
                    <ul>
                        <li>Lärare skapar album</li>
                        <li>Elever kan skicka in sina inlägg</li>
                        <li>(Lite som digitala utställningar)</li>
                    </ul>
                </li>
                <li>Byta användarnamn :O</li>
                <li>Slidshows (fler bilder i ett inlägg)</li>
            </ul>
        </p>
    </section>
</body>
</html>