<!DOCTYPE html>
<html lang="se">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" href="/assets/css/docs.css">
    <title>Kontakt - PictureIt</title>
</head>
<body>
    <header>
        Kontakt
    </header>
    <section>
        <h1>Discord</h1>
        <p>
            Du kan kontakta <span style="color: var(--primary);">BurnyLlama#0524</span> på Discord om du behöver hjälp med buggar eller har förslag om funktioner.
        </p>

        <h1>Lärare/admins</h1>
        <p>
            Admins och lärare kan hjälpa dig med vissa saker som t.ex. ändra lösenord eller ta bort kränkande inlägg.
        </p>

        <h1>GitHub</h1>
        <p>
            Om du vill rapportera buggar så kan du göra det på <a href="https://github.com/PictureItLBS/pictureit/issues/new">GitHub</a>.
        </p>
    </section>
</body>
</html>