<!DOCTYPE html>
<html lang="se">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" href="/assets/css/docs.css">
    <title>Ta Bort Konto - PictureIt</title>
</head>
<body>
    <header>
        Ta Bort Konto
    </header>
    <section>
        <h1>Hur tar jag bort mitt konto?</h1>
        <p>
            Logga in och gå till dina <a href="/app/profile/mydata">profilinställningar</a>. Välj länken "Ta bort mitt konto" och slå in ditt användarnamn och lösenord.
        </p>

        <h1>Problem</h1>
        <h2>Det står att jag behöver logga in.</h2>
        <p>
            Det kan hända att en gammal inloggnings-session har runnit ut. I så fall får du <a href="/login">logga in</a> på nytt.
        </p>

        <h1>Frågor</h1>
        <h2>Kommer mitt konto att tas bort permanent?</h2>
        <p>
            Ja. Vi sparar ingen information när du plockar bort ditt konto. Du kan alltså inte ångra det, så var säker på din sak!
        </p>
    </section>
</body>
</html>