<!DOCTYPE html>
<html lang="se">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" href="/assets/css/docs.css">
    <title>Sekretesspolicy - PictureIt</title>
</head>
<body>
    <header>
        Sekretesspolicy
    </header>
    <section>
        <p>
            Senast uppdaterad 21 maj 2021 <br>
            <a href="/assets/resources/sekretesspolicy.pdf" download>Ladda ned policy</a>
            <br><br>
        </p>

        <h1>1. Introduktion</h1>
        <p>
            PictureIt, fortsättningsvis kallat vi, månar om din integritet och sekretess. Vi vill skydda den så väl vi bara kan. I den här policyn förklarar vi vilken information vi samlar in och hur vi använder den.
        </p>

        <h1>2. Erkännande</h1>
        <p>
            Vid framtagandet av denna policy har vi använt oss av en mall. Mallen är skapad av SEQ Legal (seqlegal.com) och ändrad av Website Planets (www.websiteplanet.com).
        </p>

        <h1>3. Insamling av personlig information</h1>
        <p>
            Användarnamn och profilbild samlas in i och med att du skapar ett konto.  När du laddar upp ett inlägg samlas inläggs-bilden, bildtexten, samt uppladdningsdatum in. När du följer eller blir följd, samt gillar eller får ett inlägg gillat så samlas den informationen också in.
        </p>

        <p>
            Innan du laddar upp bilder eller information om någon annan på vår plattform så behöver du ha vederbörandes samtycke om att du lämnar ut information och att den behandlas i enlighet med denna policy.
        </p>

        <h1>4. Användning av personlig information</h1>
        <p>
            Vi använder ditt användarnamn så att användare på plattformen kan identifiera din inlägg från andra användares, profilbilden används på liknande sätt och kommer i många fall visas bredvid ditt namn.
        </p>

        <p>
            Informationen du fyller i när du skapar ett inlägg används endast till att skapa just det inlägget. De inlägg du gillar kommer sparas i en personlig lista, som endast du kan visa, så att du kan gå tillbaka och kolla på de inlägg du har gillat. Listan på de som följer dig och dem du följer har som primärt syfte att visa följare- och följande-antal på din profil, men kan också användas så att du, och andra verifierade användare (en lärare behöver bekräfta nya användare innan de kan interaktera med sidan), kan se vilka som du följer och vilka som följer dig. All information kommer endast vara synlig för verifierade användare.
        </p>

        <h1>5. Utlämning av personlig information</h1>
        <p>
            Vi är måna om att hålla din information hemlig för obehöriga. Därav kommer vi inte lämna ut den helt som helst. Vi kan komma att lämna ut den:
            <ul>
                <li>i den mån vi måste enligt lag</li>
                <li>i samband med pågående, eller framtida, domstolsförfaranden</li>
                <li>till personer som vi anser rimligen kan begära av domstol eller annan myndighet att vi lämnar ut din information (förutsatt att den domstol eller myndighet rimligen skulle kunna beordra något sådant)</li>
            </ul>
        </p>

        <h1>6. Internationell överföring</h1>
        <p>
            Vi överför inte data internationellt. Information du publicerar på PictureIt kan nås över hela världen så länge användaren som försöker nå den är registrerad och verifierad av en lärare.
        </p>

        <h1>7. Bevarande av personlig information</h1>
        <p>
            Vi behåller den data du har angett tills du väljer att ta bort ditt konto. Den information du publicerar i inlägg kan tas bort genom att ta bort inlägget.
        </p>

        <p>
            Vi kan aldrig garantera, och tar inte ansvar för, att användare inte tar skärmdumpar av dina inlägg och därmed kan bevara den information du publicerar.
        </p>

        <p>
            Om vi anser att din information kan bli relevant för pågående eller framtida domstolsförfaranden kan vi behålla den även om du tar bort ditt konto.
        </p>

        <h1>8. Din personliga informations säkerhet</h1>
        <p>
            Vi kommer vidta rimliga åtgärder för att hålla din information trygg. Din data kommer lagras på en server skyddad av lösenord och brandvägg. Lösenordet blir saltat och hashat innan det lagras i vår databas. Det betyder att lösenordet ser ut som slumpmässiga tecken och att man inte längre kan veta vad lösenordet var från början.
        </p>

        <p>
            Det är värt att tänka på att det aldrig är helt säkert att skicka information över internet. Vi kan alltså inte garantera säkerheten på den informationen som du skickar över internet.
        </p>

        <h1>9. Ändringar</h1>
        <p>
            Vid ändring av denna policy kommer den nya versionen att publiceras på <a href="https://pictureit.xyz/docs/article/privacy_policy">pictureit.xyz/docs/article/privacy_policy</a>. Du bör därför kontrollera sidan emellanåt för att se till att du förstår eventuella ändringar. Vi kommer meddela användare via ett meddelande på hemsidan vid större ändringar.
        </p>

        <h1>10. Dina rättigheter</h1>
        <p>
            Du kan hämta ut all information vi har om dig genom att:
            <ol>
                <li>Logga in på ditt konto.</li>
                <li>Gå till din profil.</li>
                <li>Klicka dig in på "Profilinställningar".</li>
                <li>Klicka på “Ladda ned all min data” och sedan följa instruktionerna på skärmen.</li>
            </ol>
        </p>

        <p>
            Du kan när som helst ta bort ditt konto genom att:
            <ol>
                <li>Logga in på ditt konto.</li>
                <li>Gå till din profil.</li>
                <li>Klicka dig in på "Profilinställningar".</li>
                <li>Klicka på “Ta bort mitt konto” och sedan följa instruktionerna på skärmen.</li>
            </ol>
        </p>

        <p>
            Vi kommer inte att använda din information i marknadsföringssyfte utan att du är medveten om det och har godkänt det. Om vi någonsin vill använda din information i marknadsföringssyfte kommer vi kontakta dig.
        </p>

        <h1>11 Tredje parts hemsidor</h1>
        <p>
            Vår hemsida kan innehålla länkar till tredje parts hemsidor, antingen i information vi ger ut eller i användares inlägg. Vi har ingen kontroll över, och är inte ansvariga för, tredje parts sekretesspolicyer eller praxis.
        </p>

        <p>
            Vi använder Cloudflare för bl.a. DNS. Bland annat så mäter Cloudflare anonym statistik (utan användning av kakor). Vi tar inte ansvar för hur Cloudflare fungerar.
        </p>

        <h1>12. Uppdatering av information</h1>
        <p>
            Om du anser att din information är felaktig eller behöver uppdateras så kan du kontakta oss om den information du vill korrigera. <br>
            <a href="https://pictureit.xyz/docs/article/contact">https://pictureit.xyz/docs/article/contact</a>
        </p>

        <h1>13. Kakor (cookies)</h1>
        <p>
            Vi använder en kaka kallad <i>apiToken</i> som innehåller en token som gör att du kan ladda upp posts, se din profil, se andras inlägg, mm. Utan att behöva slå in ditt användarnamn och lösenord varje gång du vill nå vårt API. Kakan varar i en timme, och borde efter det tas bort av din webbläsare.
        </p>
    </section>
</body>
</html>