<!DOCTYPE html>
<html lang="se">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" href="/assets/css/docs.css">
    <title>Användaravtal - PictureIt</title>
</head>
<body>
    <header>
        Användaravtal
    </header>
    <section>
        <p>
            Senast uppdaterad XX maj 2021 <br>
            <a href="#" download>Ladda ned avtal</a>
            <br><br>
        </p>

        <h1>1. Introduktion</h1>

        <h1>2. Villkor</h1>

        <h1>3. Registrering</h1>

        <h1>4. Upphovsrätt till uppladdat material</h1>
    </section>
</body>
</html>