<!DOCTYPE html>
<html lang="se">
<head>
    {% include "../../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" href="/assets/css/docs.css">
    <title>Användaravtal - PictureIt</title>
</head>
<body>
    <header>
        Användaravtal
    </header>
    <section>
        <p>
            Senast uppdaterad 21 maj 2021 <br>
            <a href="/assets/resources/användaravtal.pdf" download>Ladda ned avtal</a>
            <br><br>
        </p>

        <h1>1. Introduktion</h1>
        <p>
            Vår plattform ska vara trygg för alla användare. Vi har försökt att skriva våra villkor och riktlinjer med ett enkelt språk. Vi vill att det ska vara lätt att göra rätt. Om det ändå är något du tycker är oklart, <a href="/docs/article/contact">hör av dig</a>!
        </p>

        <h1>2. Villkor</h1>
        <p>
            Genom att använda PictureIt godkänner du våra villkor.
        </p>

        <p>
            På vår plattform har vi följande riktlinjer:
            <ul>
                <li>Posta bara material som du själv har upphovsrätten till.</li>
                <li>Posta inte diskriminerande material.</li>
                <li>Posta inte material där du medvetet kränker eller hänger ut en annan användare.</li>
                <li>Posta inte material som innehåller information om någon annan utan deras samtycke.</li>
                <li>Spamma inte.</li>
                <li>Visa respekt för andra.</li>
                <li>Ha kul, var vänlig, och sprid glädje!</li>
            </ul>
        </p>

        <p>
            Om du bryter mot dessa riktlinjer kan lärare eller admins på PictureIt ta bort relevanta inlägg från din profil. Vid upprepade, eller allvarliga, regelbrott kan lärare eller admins välja att ta bort eller låsa ditt konto.
        </p>

        <p>
            Vi är tacksamma om du väljer rapportera buggar och stötande material som du hittar på vår plattform. Rapportera buggar via <a href="https://github.com/PictureItLBS/pictureit/issues/new">GitHub</a>. Rapportera stötande eller kränkande material till en lärare eller admin.
        </p>

        <h1>3. Registrering</h1>
        <p>
            Efter att du har registrerat ditt konto behöver en lärare bekräfta kontot för att du ska kunna använda PictureIt. Om du vill ta bort ditt konto kan du när som helst själv göra det oavsett om det är bekräftat eller inte.
        </p>

        <p>
            Om du glömmer ditt lösenord kontakta en lärare eller admin för hjälp.
        </p>

        <h1>4. Upphovsrätt till uppladdat material</h1>
        <p>
            När du laddar upp material medger du att du har upphovsrätten till det. Efter uppladdning behåller du din upphovsrätt till materialet, men ger oss rätten att visa det på plattformen. Du kan närsomhelst välja att ta bort dina inlägg.
        </p>
    </section>
</body>
</html>