body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 4.8rem;
    text-align: center;
    margin-top: 1.5em;
}

section {
    border: .25rem solid var(--standout);
    border-radius: .8rem .8rem 1.6rem .8rem;
    box-shadow: 0 16px 32px var(--darker);

    padding: 3rem 4rem;
    margin: 4rem 8rem;

    font-size: 1.8rem;

    width: min(100ch, 85%);
}

h1, h2 {
    color: var(--primary);
    margin-top: .5em;
}

h1:first-child {
    margin-top: 0;
}

ul, ol {
    font-family: inherit;
    font-size: 1.8rem;
    margin: 0 0 1rem 3rem;
}

ul > li, ol > li {
    margin: .5rem 0;
}

p {
    margin-bottom: 3rem;
}