input, textarea {
    display: block;
    width: 100%;

    font-size: 1.8rem;
    font-family: 'Lexend Light';

    color: var(--text);
    background-color: var(--surface);

    padding: .7rem 1.2rem;
    margin-bottom: 2rem;

    border: .3rem solid var(--surface);
    border-radius: .4rem .4rem 1.2rem .4rem;
    outline: 0 none transparent;
}

input::placeholder {
    font-family: 'Lexend Regular';
}

input:hover, textarea:hover {
    border-radius: .8rem .8rem 1.6rem .8rem;
}

input:active, input:focus, textarea:active, textarea:focus {
    outline: 0 none transparent;
    border: .3rem solid var(--primary)
}

input[type="submit"] {
    width: auto;
    font-family: 'Lexend Medium';

    margin-bottom: 0;
    padding: 1.2rem 2.4rem;

    color: var(--primary);
    background-color: transparent;

    border: .4rem solid var(--primary);
    cursor: pointer;
}

textarea {
    resize: vertical;
    min-height: 5em;
}

.upload-preview-image-container {
    width: 100%;
    height: 20vw;

    background-color: var(--darker);
    margin-bottom: 2rem;
}

.upload-preview-image {
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;

    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}