.logo-container, .form-container {
    position: absolute;
    display: grid;
    place-items: center;
    height: 100%;
}

.logo-container {
    right: 15vw;
}

.form-container {
    left: 15vw;
}

.logo {
    height: 30vmax;
}

form {
    width: 50vw;
    height: fit-content;
    padding: 4rem 5rem;

    background-color: var(--backdrop);
    backdrop-filter: blur(20px) opacity(100%);

    box-shadow: 0 16px 32px var(--darker);
    border-radius: 1.6rem 1.6rem 6.4rem 1.6rem;
}

@supports not (backdrop-filter: blur(20px) opacity(100%)) {
    form {
        background-color: var(--darker-backdrop);
    }

    form input[type="text"], form input[type="password"] {
        background-color: var(--standout);
        border-color: var(--standout);
    }

    
    form input[type="text"]:focus, form input[type="text"]:active, form input[type="password"]:focus, form input[type="password"]:active {
        border-color: var(--primary);
    }
}

h1, p {
    font-family: 'Lexend Medium';
    color: var(--primary);
    margin-bottom: .8em;
}

input[type="submit"] {
    display: inline;

    color: var(--surface);
    background-color: var(--primary);

    margin-top: 1rem;
}

.help-link {
    color: var(--primary);
    font-size: 1.8rem;
    margin-left: 2rem;
}

.warning {
    color: var(--destructive);
}

input.warning {
    color: var(--text);
    background-color: var(--destructive);
    border-color: var(--destructive);
}

.last-warning {
    margin-top: 2rem;
    margin-bottom: 0;
}

a, a:visited {
    color: var(--primary)
}