@import 'fonts.css';

:root {
    --text: #F2F2F2;
    --surface: #222222;
    --standout: #343434;
    --primary: #53FB5E;
    --accent: #AC53FB;
    --destructive: #FF4B4B;
}

body {
    color: var(--text);
    background-color: var(--surface);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lexend Regular';
}

button {
    color: var(--primary);
    border-color: var(--primary);
    background-color: transparent;
}

nav.sidebar {	
	display: block;
	color: var(--surface)
	box-shadow: 2px 2px 2px 2px
	font-size: 2.4rem
	
	
	
}