@import 'fonts.css';
@import 'scaling.css';

:root {
    --text: #F2F2F2;
    --surface: #222222;
    --standout: #343434;
    --darker: #181818;
    --backdrop: #F2F2F219;
    --primary: #53FB5E;
    --accent: #AC53FB;
    --destructive: #FF4B4B;
    --link: #6381ED;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lexend Regular';

    transition: border .3s, border-radius .3s;
}

body, html {
    color: var(--text);
    background-color: var(--surface);

    width: 100%;
}

/*
    TEXT
*/
h1, h2, p {
    margin-bottom: .4em;
    font-weight: normal;
}

h1 {
    font-family: 'Lexend Medium';
    font-size: 3.6rem;
}

h2 {
    font-family: 'Lexend Medium';
    font-size: 2.4rem;
}

p {
    font-family: 'Lexend Light';
    font-size: 1.8rem;
}

a {
    color: var(--link);
    line-height: 1.5;
}

a:visited {
color: var(--accent);
}


/* 
    MISC
*/
button {
    color: var(--primary);
    background-color: transparent;

    font-family: 'Lexend Medium';
    font-size: 1.8rem;
    text-decoration: none;

    margin-right: 2rem;
    padding: 1.2rem 2.4rem;

    border: .3rem solid var(--primary);
    border-radius: .4rem .4rem 1.2rem .4rem;

    display: inline;
    cursor: pointer;
}

button:hover {
    border-radius: .8rem .8rem 1.6rem .8rem;
}


/*
    Icons
*/
span.icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

span.icon > * {
    fill: var(--text);
}


/*
    APP
*/
body#app {
    display: grid;
    grid-template-areas: 'nav main';
    grid-template-columns: auto 1fr;
}

nav.sidebar {
    display: block;
    color: var(--surface);
    box-shadow: 2px 2px 2px 2px;
    font-size: 2.4rem;
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;
}

.post {
    margin: 5rem 0;
    width: 50vw;
    height: 20vw;
}