.my-data--grid {
    display: grid;
    grid-template-areas: 'pfp info';
    grid-template-columns: auto 1fr;
    place-items: center start;

    width: 100vw;
    min-height: 100vh;
}

.profile-picture {
    grid-area: pfp;
    
    background-image: url(/assets/resources/logo.png);
    background-size: cover;
    background-position: center;
    
    margin: 0 5vmin 0 10vw;
    border-radius: 100%;
    box-shadow: 0 16px 32px var(--darker);

    width: 25vw;
    height: 25vw;
}

.info-container {
    grid-area: info;

    background-color: var(--standout);

    width: 50vw;
    height: fit-content;

    padding: 3rem 4rem;
    border-radius: 1.6rem 1.6rem 6.4rem 1.6rem;
}

.info-table {
    display: grid;
    grid-template-areas: 'col-1 col-2';
    grid-template-columns: 1fr 1fr;

    margin-top: 3rem;
}

.info-table > .col-1 {
    grid-area: col-1;
}

.info-table > .col-2 {
    grid-area: col-2;
}

h1, h2 {
    color: var(--primary);
}

.info-table p {
    margin-bottom: 3rem;
}

a {
    display: inline;
    color: var(--primary);
}

#delete-account {
    color: var(--destructive);
}

.buttons > button {
    margin: 1rem 3rem 1rem 0;
}

@media screen and (max-width: 800px) {
    .my-data--grid {
        display: grid;
        grid-template-areas: 'pfp' 'info';
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        place-items: center;
    }

    .profile-picture {
        margin: 3rem 0;
    }

    .info-container {
        width: 90%;
        margin: 3rem 0 5vh 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .buttons > button {
        margin: 1rem 0;
    }
}