.my-data--grid {
    display: grid;
    grid-template-areas: 'pfp info';
    grid-template-columns: auto 1fr;
    place-items: center start;

    width: 100vw;
    height: 100vh;
}

.profile-picture {
    grid-area: pfp;

    width: 25vw;
    height: auto;

    margin: 0 5vmin 0 10vw;
}

.info-container {
    grid-area: info;

    background-color: var(--standout);

    width: 50vw;
    height: fit-content;

    padding: 3rem 4rem;
    border-radius: 1.6rem 1.6rem 6.4rem 1.6rem;
}

.info-table {
    display: grid;
    grid-template-areas: 'col-1 col-2';
    grid-template-columns: 1fr 1fr;

    margin-top: 3rem;
}

.info-table > .col-1 {
    grid-area: col-1;
}

.info-table > .col-2 {
    grid-area: col-2;
}

h1, h2 {
    color: var(--primary);
}

p {
    margin-bottom: 3rem;
}

a {
    display: inline;
    color: var(--primary);
}

#delete-account {
    color: var(--destructive);
}