body.view-single-post {
    display: grid;
    place-items: center;

    width: 100vw;
    height: 100vh;
}

body.view-single-post .post {
    width: 80vw;
    height: 50vh;
}

.post {
    display: grid;
    grid-template-areas: 'image content';
    grid-template-columns: 50fr 45fr;

    background-color: var(--standout);
    box-shadow: 0 16px 32px var(--darker);
    border-radius: 1rem 1rem 4rem 1rem;
}

.post-image-container {
    grid-area: image;
    display: grid;
    /* place-items: center; */

    background-color: var(--darker);
    border-radius: 1rem 0 0 1rem;
}

.post-content-container {
    grid-area: content;
    padding: 2.5rem 4rem;

    display: grid;
    grid-template-areas: 'publisher' 'caption' 'actions' 'info';
    grid-template-rows: auto 1fr auto auto;
}

.post-publisher {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 2.4rem;
}

.post-pfp {
    background-image: url(/assets/resources/logo.png);
    background-size: cover;
    background-position: center;

    margin-right: 2rem;
    border-radius: 100%;
    box-shadow: 0 4px 16px var(--surface);

    width: 4.5rem;
    height: 4.5rem;
}

.post-image {
    width: 100%;
    height: 100%;

    border-radius: 1rem 0 0 1rem;

    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.post-actions {
    display: flex;
}

.post-info {
    display: flex;
    justify-content: space-between;
}

.post-info-date {
    font-family: 'Lexend Thin';
}

.icon.action {
    cursor: pointer;

    width: 5rem;
    height: 5rem;

    margin-left: -.6rem;
    margin-bottom: 1rem;
}

.action > * {
    transition: fill .5s;
}

.action:hover > * {
    fill: var(--primary);
}

.action.active > * {
    fill: var(--accent)
}

.action-delete {
    margin: 1.5rem 1rem;
    font-size: 1.8rem;
    cursor: pointer;

    transition: color .3s;
}

.action-delete:hover {
    color: var(--destructive);
}