.user-info {
    display: grid;
    grid-template-areas: 'pfp name'
                         'pfp stats'
                         'pfp actions';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;

    background-color: var(--standout);
    box-shadow: 0 16px 32px var(--darker);
    border-radius: 1rem 1rem 4rem 1rem;

    width: 60vw;

    margin-top: 5vmin;
    padding: 6rem 7rem;
}

.user-pfp {
    grid-area: pfp;

    background-image: url(/assets/resources/logo.png);
    background-size: cover;
    background-position: center;

    margin-right: 5rem;
    border-radius: 100%;
    box-shadow: 0 16px 32px var(--surface);

    width: 25rem;
    height: 25rem;
}

h1.username {
    grid-area: name;
    font-size: 4.8rem;
}

.user-stats {
    grid-area: stats;
    display: flex;
}

.user-stat {
    display: flex;
    margin-right: 3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-stat p {
    font-size: 2.4rem;
    margin-left: 1rem;
}

.user-actions {
    grid-area: actions;
}

.user-actions .action {
    transition: border-color .5s, color .5s, opacity .5s, border-radius .3s;
}

.user-actions .action.active {
    color: var(--text);
    border-color: var(--text);
    opacity: 0.5;
}