<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../templates/defaultHeadTags.njk" %}
    <title>Hello World!</title>
</head>
<body>
    <h1>
        We use nunjucks so that we can easily include (and re-use) code:
    </h1>

    {% include "../components/helloWorldInfo.njk" %}
</body>
</html>