<!DOCTYPE html>
<html lang="se">
<head>
    {% include "../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/landing.css">
    <title>Logga In - PictureIt</title>
</head>
<body>
    <img src="/assets/resources/logo.svg" >
</body>
</html>