<!DOCTYPE html>
<html lang="se">
<head>
    {% include "../templates/defaultHeadTags.njk" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/landing.css">
    <title>Logga In - PictureIt</title>

</head>
<body>
    <header>
        Picture<span class="accent">It</span>
    </header>

    <img class="logo" src="/assets/resources/logo.svg" >

    <div class="buttons">
        <button class="register" onclick="window.location.pathname = '/register'">Gå Med!</button>
        <button class="login" onclick="window.location.pathname = '/login'">Logga In!</button>
    </div>
</body> 
</html>